<header
  class="flex items-center justify-between px-6 py-0 bg-white shadow-sm h-16 sticky top-0 z-50"
>
  <a routerLink="/" class="flex items-center gap-2 text-xl font-bold text-blue-600 no-underline">
    <nz-icon nzType="rocket" nzTheme="outline" />
    Strive
  </a>

  @if (!isMobile()) {
  <ul nz-menu nzMode="horizontal" class="border-0! flex-1 flex justify-center">
    <li nz-menu-item nzMatchRouter nzMatchRouterExact>
      <a routerLink="/">Inicio</a>
    </li>
    <li nz-menu-item nzMatchRouter>
      <a routerLink="/functions">Funciones</a>
    </li>
    <li nz-menu-item nzMatchRouter>
      <a routerLink="/about">Sobre nosotros</a>
    </li>
    <li nz-menu-item nzMatchRouter>
      <a routerLink="/contact">Contacto</a>
    </li>
  </ul>

  <div class="flex items-center gap-3">
    <a routerLink="/auth/login" nz-button nzType="text">Acceder</a>
    <a routerLink="/auth/register" nz-button nzType="primary">Empezar gratis</a>
  </div>
  } @if (isMobile()) {
  <button nz-button nzType="text" (click)="openDrawer()">
    <nz-icon nzType="menu" nzTheme="outline" class="text-xl" />
  </button>
  }
</header>

@if (isMobile()) {
<nz-drawer
  [nzVisible]="drawerVisible()"
  nzPlacement="right"
  nzTitle="Menú"
  (nzOnClose)="closeDrawer()"
>
  <ng-container *nzDrawerContent>
    <ul nz-menu nzMode="inline" class="border-0">
      <li nz-menu-item nzMatchRouter nzMatchRouterExact (click)="closeDrawer()">
        <a routerLink="/">Inicio</a>
      </li>
      <li nz-menu-item nzMatchRouter (click)="closeDrawer()">
        <a routerLink="/functions">Funciones</a>
      </li>
      <li nz-menu-item nzMatchRouter (click)="closeDrawer()">
        <a routerLink="/about">Sobre nosotros</a>
      </li>
      <li nz-menu-item nzMatchRouter (click)="closeDrawer()">
        <a routerLink="/contact">Contacto</a>
      </li>
    </ul>

    <div class="flex flex-col gap-3 mt-6 px-4">
      <a routerLink="/auth/login" nz-button nzType="default" nzBlock (click)="closeDrawer()"
        >Acceder</a
      >
      <a routerLink="/auth/register" nz-button nzType="primary" nzBlock (click)="closeDrawer()"
        >Empezar gratis</a
      >
    </div>
  </ng-container>
</nz-drawer>
}
